<div *ngIf="hideBanner != true" class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="breadcrumb-text">
          <h2>A propos</h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
      </div>
    </div>
  </div>
</div>
<section class="about" style="padding-bottom: 35px !important;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="about-text">
          <div class="section-title">
            <span>À PROPOS DE LA PÂTISSERIE</span>
            <h2>Gâteaux et pâtisseries de la maison des Reines !</h2>
          </div>
          <p>Chez 'L'Art Sucré', chaque pâtisserie est une création artisanale, concoctée avec amour et passion.
            Que vous soyez à la recherche d'un gâteau pour une occasion spéciale ou simplement d'une douceur pour égayer votre journée,
            'L'Art Sucré' est l'endroit idéal pour satisfaire vos envies sucrées.
            Venez nous rendre visite et laissez-vous séduire par nos délices faits maison!".</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="about-bar">
          <div class="about-bar-item">
            <p>CONCEPTION DE GÂTEAU</p>
            <div id="bar1" class="barfiller">
              <div class="tipWrap"><span class="tip"></span></div>
              <span class="fill" data-percentage="95"></span>
            </div>
          </div>
          <div class="about-bar-item">
            <p>COURS DE GÂTEAU</p>
            <div id="bar2" class="barfiller">
              <div class="tipWrap"><span class="tip"></span></div>
              <span class="fill" data-percentage="80"></span>
            </div>
          </div>
          <div class="about-bar-item">
            <p>Recettes de gâteaux</p>
            <div id="bar3" class="barfiller">
              <div class="tipWrap"><span class="tip"></span></div>
              <span class="fill" data-percentage="90"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div *ngIf="hideBanner != true">
  <app-testimonial></app-testimonial>
</div>

<div *ngIf="hideBanner != true">
  <app-team></app-team>
</div>



