.footer {
  padding-top: 70px;
  background-image: url("../../assets/img/footer-bg.jpg");
}

.footer-widget {
  position: relative;
  margin-bottom: 30px;
}

.footer-widget:after {
  position: absolute;
  right: 25px;
  top: 0;
  width: 1px;
  height: 165px;
  background: rgba(255, 255, 255, 0.1);
  content: "";
}

.footer-widget h6 {
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.footer-widget ul li {
  list-style: none;
  font-size: 14px;
  color: #a4a4a4;
  line-height: 36px;
}

.footer-about {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}

.footer-about:after {
  position: absolute;
  right: -35px;
  top: 0;
  width: 1px;
  height: 165px;
  background: rgba(255, 255, 255, 0.1);
  content: "";
}

.footer-about .footer-logo {
  margin-bottom: 32px;
}

.footer-about .footer-logo a {
  display: inline-block;
}

.footer-about p {
  font-size: 14px;
  color: #a4a4a4;
  line-height: 26px;
  margin-bottom: 25px;
}

.footer-about .footer-social a {
  display: inline-block;
  color: #FFFFFF;
  background: rgba(225, 225, 225, 0.1);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  margin-right: 6px;
}

.footer-about .footer-social a:last-child {
  margin-right: 0;
}

.footer-newslatter {
  padding-left: 50px;
  margin-bottom: 30px;
}

.footer-newslatter h6 {
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.footer-newslatter p {
  font-size: 14px;
  color: #a4a4a4;
  line-height: 26px;
  margin-bottom: 25px;
}

.footer-newslatter form {
  position: relative;
}

.footer-newslatter form input {
  height: 50px;
  width: 100%;
  padding-left: 22px;
  background: rgba(253, 243, 234, 0.2);
  border: none;
  color: #FFFFFF;
  font-size: 14px;
}

.footer-newslatter form input::placeholder {
  color: #FFFFFF;
}

.footer-newslatter form button {
  font-size: 20px;
  color: #f08632;
  background: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 20px;
}
