<!------------------------------------------------- FILTER --------------------------------------------------------->
<div class="search-card mb-3 mt-4">
  <div class="search-header" (click)="searchFormVisibility(!displaySearchForm)">
    <span class="search-title">Filtre</span>
    <span class="icon" *ngIf="!displaySearchForm"><i class="bi bi-plus-square"></i></span>
    <span class="icon" *ngIf="displaySearchForm" ><i class="bi bi-file-minus"></i></span>
  </div>
  <div class="row search-form mt-3" *ngIf="displaySearchForm">
    <form [formGroup]="form">
      <div class="container">
        <div class="row row-cols-2 form-group mb-2">
          <div class="col-6">
            <label class="form-label">Mot clé:</label>
            <input type="text" class="form-control" formControlName="userName" placeholder="XXXX">
          </div>
          <div class="col-6">
            <label class="form-label">Date:</label>
            <input type="text" class="form-control" formControlName="date" placeholder="DD/MM/YYYY">
          </div>
        </div>

        <div class="row row-cols-2 form-group">
          <label class="form-label">Statut:</label>
          <select class="form-select" formControlName="statusId">
            <option value=""></option>
            <option *ngFor="let status of statusList" [value]="status.id">{{ status.name }}</option>
          </select>
        </div>

      </div>

      <div class="row mt-3">
        <div class="col text-center">
          <button type="button" class="primary-btn" (click)="reset()">Réinitialiser</button>
        </div>
        <div class="col text-center">
          <button type="submit" class="primary-btn" (click)="search()">Rechercher</button>
        </div>
      </div>
    </form>
  </div>
</div>

<table class="table">
  <thead class="table-dark">
  <tr>
    <th scope="col">N°</th>
    <th scope="col">Date</th>
    <th scope="col">Client</th>
    <th scope="col">Statut</th>
    <th scope="col">Détails</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders">
    <th scope="row">{{ order.id }}</th>
    <td>{{ order.createdAt }}</td>
    <td>
      <div>Nom: {{ order.lastName + ' ' + order.firstName }}</div>
      <div>Email: {{ order.email }}</div>
      <div>Téléphone: {{ order.phoneNumber }}</div>
    </td>
    <td>{{ order.status }}</td>
    <td>
      <div *ngFor="let item of order.content">
        <div>Produit: {{ item.pastryName }}</div>
        <div>Prix: {{ item.pastryPrice }}</div>
        <div>Quantité: {{ item.quantity }}</div>
        <div *ngIf="item.formatName">Format: {{ item.formatName }}</div>
      </div>
    </td>
    <td>
      <span class="bi-pencil cursor-pointer" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="setSelectedOrder(order)"></span>
    </td>
  </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content description" *ngIf="selectedOrder">
      <div class="modal-header title-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="section-title">
          <h2 class="modal-title text-center" id="exampleModalLabel">Modifier statut</h2>
        </div>
      </div>

      <div class="modal-body">
        <div class="container">
          <div class="row g-5">
            <div class="row">
              <select class="form-select" [(ngModel)]="selectedStatusId">
                <option *ngFor="let status of statusList" [value]="status.id">{{ status.name }}</option>
              </select>
              <div class="primary-btn cursor-pointer mt-4" (click)="save()">
                Enregistrer
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
