.table {
  width: 80% !important;
  margin: 30px auto;
}

.description {
  height: 250px !important;
  width: 50vw !important;
}

.modal-dialog {
  margin-left: 25vw !important;
}

.title-header {
  display: grid;
  border-bottom: none !important;
}

.modal .primary-btn {
  display: flex;
  margin: auto;
  width: 180px !important;
}

.form-select {
  width: 80%;
  display: flex;
  margin: auto;
}

/********************* SEARCH **************************/
.search-card {
  border-radius: 32px;
  background: #FEF6F7;
  padding: 30px 30px;
  width: 80%;
  margin: auto;
}

.search-header {
  cursor: pointer;
  width: 100%;
  display: block;
}

.search-header .search-title {
  color: #FE8EBF !important;
  font-family: 'Manrope-bold', serif;
}

.search-header .icon {
  color: #FE8EBF !important;
  font-family: 'Manrope-bold', serif;
  font-size: 20px;
  float: right;
}

.search-form .form-select, .search-form .form-control {
  width: 90%;
}

.form-control {
  margin-top: 12px;
  margin-left: 12px;
}

.form-label {
  margin-left: 12px;
}

@media screen and (max-width: 500px) {
  .search-card .row-cols-2 {
    display: block;
    width: 100%;
  }

  .search-card .col-6 {
    width: 100%;
  }
}

.search-card .form-select {
  width: 93%;
  margin-left: 25px;
}
