<section class="instagram">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 p-0">
        <div class="instagram-text">
          <div class="section-title">
            <span>Suivez nous sur instagram</span>
            <h2>Les doux moments sont conservés comme souvenirs.</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram-pic">
              <img src="../../../assets/img/instagram/instagram-1.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram-pic middle-pic">
              <img src="../../../assets/img/instagram/instagram-2.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram-pic">
              <img src="../../../assets/img/instagram/instagram-3.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram-pic">
              <img src="../../../assets/img/instagram/instagram-4.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram-pic middle-pic">
              <img src="../../../assets/img/instagram/instagram-5.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram-pic">
              <img src="../../../assets/img/instagram/instagram-3.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
