.instagram {
  padding-top: 100px;
}
.instagram-text {
  padding-top: 90px;
}
.instagram-text .section-title {
  margin-bottom: 55px;
}
.instagram-text h5 {
  font-size: 20px;
  color: #444444;
  position: relative;
  z-index: 1;
}
.instagram-text h5:after {
  position: absolute;
  left: 0;
  top: -34px;
  background: url(../../../assets/img/instagram/cake-piece.png) no-repeat;
  height: 139px;
  width: 114px;
  content: "";
}
.instagram-text h5 i {
  color: #111111;
  font-size: 36px;
  position: relative;
  top: 6px;
  margin-right: 8px;
}

.instagram-pic {
  margin-bottom: 30px;
}
.instagram-pic.middle-pic {
  padding-top: 30px;
  margin-bottom: 0;
}
.instagram-pic img {
  min-width: 100%;
}

@media screen and (max-width: 991px) {
  .instagram {
    padding-top: 0 !important;
  }
}

