<section class="spad">
  <div class="form-card">
   <div class="d-flex align-items-center h-100 ">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <form [formGroup]="form">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="form-outline mb-1">
                  <label class="form-label">Ville:</label>
                  <input type="text" class="form-control form-control-lg" formControlName="city" placeholder="XXXX" />
                  <p class="error-message" *ngIf="formSubmitted && form.controls['city'].errors">{{ getError('city') }}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-outline mb-1">
                  <label class="form-label">Code postal:</label>
                  <input type="text" class="form-control form-control-lg" formControlName="zipCode" placeholder="XXXX"/>
                  <p class="error-message" *ngIf="formSubmitted && form.controls['zipCode'].errors">{{ getError('zipCode') }}</p>
                </div>
              </div>
              <div class="col-12">
                <div class="form-outline mb-1">
                  <label class="form-label">Rue:</label>
                  <input type="text" class="form-control form-control-lg" formControlName="street" placeholder="XXXX"/>
                  <p class="error-message" *ngIf="formSubmitted && form.controls['street'].errors">{{ getError('street') }}</p>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col text-center">
                  <button type="button" class="primary-btn" (click)="cancel()">Annnuler</button>
                </div>
                <div class="col text-center">
                  <button type="submit" class="primary-btn" (click)="save()">S'inscrire</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
