
/*---------------------
  Shop
-----------------------*/
.shop {
  padding-top: 30px;
}

product {
  padding-top: 50px;
}

.product-item:hover .product-item-pic .product-label span {
  background: #FE8EBF;
  color: #ffffff;
}

.product-item:hover .product-item-text .cart_add {
  opacity: 1;
  visibility: visible;
  bottom: -4px;
}

.product-item-pic {
  height: 270px;
  position: relative;
  background-position: center;
}

.product-item-pic .product-label {
  position: absolute;
  left: 0;
  bottom: -15px;
  text-align: center;
  width: 100%;
}

.product-item-pic .product-label span {
  display: inline-block;
  font-size: 14px;
  color: #111111;
  background: #ffffff;
  padding: 6px 10px 4px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
  box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}

.product-item-text {
  padding-top: 20px;
  text-align: center;
  position: relative;
}
.product-item-text h6 {
  margin-bottom: 16px;
}
.product-item-text h6 a {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
}
.product-item-text .product-item-price {
  color: #111111;
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.modal-dialog {
  margin-left: 20vw !important;
}

.description {
  height: auto !important;
  width: 60vw !important;
}


.img-twice::before {
  position: absolute;
  content: "";
  width: 60%;
  height: 80%;
  top: 10%;
  left: 20%;
  background: var(--primary);
  border: 25px solid var(--light);
  border-radius: 6px;
  z-index: -1;
}
/*** Product ***/
.product-item {
  transition: .5s;
}

.product-item:hover {
  background: var(--primary) !important;
}

.product-item:hover * {
  color: var(--light);
}

.product-item:hover .border-primary {
  border-color: var(--light) !important;
}

.product-item .product-overlay {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
  overflow: hidden;
  opacity: 0;
  transition: .5s;
}

.product-item:hover .product-overlay {
  height: 100%;
  opacity: 1;
}

.title-header {
  display: grid;
  border-bottom: none !important;
}
.primary-btn a {
  color: #FFFFFF;
}

.modal .primary-btn {
  margin-left: 12px;
  width: 140px !important;
}

.price {
  font-weight: 500;
  font-size: 25px;
}

.panier {
  display: inline-flex;
  margin: 15px 0;
}

.panier-quantity {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  height: 40px;
  width: 74px;
  margin-left: 12px;
}

.formats {
  display: inline-block;
  margin-right: 20px;
}

.btn-add,
.btn-remove {
  background-color: transparent;
  border: none;
  color: #555;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0 !important;
}

.quantity {
  padding: 8px 12px;
  font-size: 16px;
  display: inline-block;
  min-width: 30px;
  text-align: center;
}

.formats select {
  margin: 0 !important;
  height: 40px;
}

select {
  margin: 11px !important;
}

/********************* SEARCH **************************/
.search-card {
  border-radius: 32px;
  background: #FEF6F7;
  padding: 30px 30px;
}

.search-header {
  cursor: pointer;
}

.search-header .search-title {
  color: #FE8EBF !important;
  font-family: 'Manrope-bold', serif;
}

.search-header .icon {
  color: #FE8EBF !important;
  font-family: 'Manrope-bold', serif;
  font-size: 20px;
  float: right;
}

.search-form .form-select, .search-form .form-control {
  width: 90%;
}

.form-control {
 margin-top: 12px;
  margin-left: 12px;
}

.form-label {
  margin-left: 12px;
}

@media screen and (max-width: 500px) {
  .search-card .row-cols-2 {
    display: block;
    width: 100%;
  }

  .search-card .col-6 {
    width: 100%;
  }

  .filter-buttons .search-button{
    margin-top: 15px;
  }

  .modal-content {
    width: 100% !important;
  }

  .modal-dialog {
    margin-top: 50px;
    margin-left: 10px !important;
  }

  .section-title {
    margin-bottom: 0;
  }

  .section-title h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .formats select {
    width: 200px;
  }

  .g-5, .gx-5 {
    --bs-gutter-x: 10px;
  }

  .modal-body .container .modal-image {
    display: contents;
  }

  .modal-body .col-8 {
    width: 100%;
  }

  .buttons {
    width: 100% !important;
  }
}

.product-item {
  border: solid 2px #FEF6F7;
}

.col-6.text-center {
  display: block;
  margin-top: 5px;
}

.buttons {
  border-bottom: solid 2px #FEF6F7;
  border-left: solid 2px #FEF6F7;
  border-right: solid 2px #FEF6F7;
  height: 40px;
  width: 306px;
  margin-left: 0;
}

.separator {
  border-right: solid 2px #FEF6F7;
}

.paginator-content {
  margin: auto;
  display: inline-block;
}
