<section class="testimonial spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <span>Testimonial</span>
          <h2>Our client say</h2>
        </div>
      </div>
    </div>
    <div id="carouselDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active home-carousel" data-bs-interval="10000">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-item">
                  <div class="testimonial-author">
                    <div class="testimonial-author-pic">
                      <img src="assets/img/testimonial/ta-1.jpg" alt="">
                    </div>
                    <div class="testimonial-author-text">
                      <h5>Kerry D.Silva</h5>
                      <span>New york</span>
                    </div>
                  </div>
                  <div class="rating">
                    <span class="icon_star"></span>
                    <span class="icon_star"></span>
                    <span class="icon_star"></span>
                    <span class="icon_star"></span>
                    <span class="icon_star-half_alt"></span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua viverra lacus vel facilisis.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item home-carousel" data-bs-interval="2000">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-item">
                  <div class="testimonial-author">
                    <div class="testimonial-author-pic">
                      <img src="assets/img/testimonial/ta-2.jpg" alt="">
                    </div>
                    <div class="testimonial-author-text">
                      <h5>Kerry D.Silva</h5>
                      <span>New york</span>
                    </div>
                  </div>
                  <div class="rating">
                    <span class="icon_star"></span>
                    <span class="icon_star"></span>
                    <span class="icon_star"></span>
                    <span class="icon_star"></span>
                    <span class="icon_star-half_alt"></span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua viverra lacus vel facilisis.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </div>
</section>
