<div class="menu-overlay"></div>
<div class="menu-wrapper">
  <div class="cart">
    <div class="cart-links">
      <a href="#" class="search-switch"><img src="../../../assets/img/icon/search.png" alt=""></a>
      <a href="#"><img src="../../../assets/img/icon/heart.png" alt=""></a>
    </div>
    <div class="cart-item">
      <a href="#"><img src="../../../assets/img/icon/cart.png" alt=""> <span>0</span></a>
      <div class="cart-price">Cart: <span>$0.00</span></div>
    </div>
  </div>
  <div class="logo">
    <a href="../../../index.html"><img src="../../../assets/img/logo.png" alt=""></a>
  </div>
  <div id="mobile-menu-wrap"></div>
  <div class="option">
    <ul>
      <li>USD <span class="arrow-carrot-down"></span>
        <ul>
          <li>EUR</li>
          <li>USD</li>
        </ul>
      </li>
      <li>ENG <span class="arrow-carrot-down"></span>
        <ul>
          <li>Spanish</li>
          <li>ENG</li>
        </ul>
      </li>
      <li><a href="#">Sign in</a> <span class="arrow-carrot-down"></span></li>
    </ul>
  </div>
</div>

<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-top-inner">
            <div class="header-top-left">
              <ul>
                <li>USD <span class="arrow-carrot-down"></span>
                  <ul>
                    <li>EUR</li>
                    <li>USD</li>
                  </ul>
                </li>
                <li>ENG <span class="arrow-carrot-down"></span>
                  <ul>
                    <li>Spanish</li>
                    <li>ENG</li>
                  </ul>
                </li>
                <li><a href="#">Sign in</a> <span class="arrow-carrot-down"></span></li>
              </ul>
            </div>
            <div class="header-logo">
              <a href="../../../index.html"><img src="../../../assets/img/logo.png" alt=""></a>
            </div>
            <div class="header-top-right">
              <div class="header-top-right-links">
                <a href="#" class="search-switch"><img src="../../../assets/img/icon/search.png" alt=""></a>
                <a href="#"><img src="../../../assets/img/icon/heart.png" alt=""></a>
              </div>
              <div class="header-top-right-cart">
                <a href="#"><img src="../../../assets/img/icon/cart.png" alt=""> <span>0</span></a>
                <div class="cart-price">Cart: <span>$0.00</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="canvas-open"><i class="bi bi-layout-text-sidebar"></i></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="header-menu mobile-menu" *ngIf="!router.url.includes('private')">
          <ul>
            <li class="active" [className]="router.url.includes('home') ? 'active' : ''">
              <a routerLink="home">Home</a>
            </li>
            <li [className]="router.url.includes('about') ? 'active' : ''">
              <a routerLink="/about-us">About</a>
            </li>
            <li [className]="router.url.includes('shop') ? 'active' : ''">
              <a routerLink="/shop">Shop</a>
            </li>
            <li [className]="router.url.includes('contact') ? 'active' : ''">
              <a routerLink="contact">Contact</a>
            </li>
            <li [className]="router.url.includes('login') ? 'active' : ''">
              <a routerLink="login">Mon compte</a>
            </li>
          </ul>
        </nav>
        <nav class="header-menu mobile-menu" *ngIf="router.url.includes('private')">
          <ul>
            <li [className]="router.url.includes('orders') ? 'active' : ''">
              <a routerLink="/private/orders">Commandes</a>
            </li>
            <li [className]="router.url.includes('coordinates') ? 'active' : ''">
              <a routerLink="/private/coordinates" *ngIf="!isAdministrator">Mes coordonnées</a>
            </li>
            <li [className]="router.url.includes('password') ? 'active' : ''">
              <a routerLink="/private/update/password">Modifier mot de passe</a>
            </li>
            <li>
              <a (click)="logout()">Déconnexion</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

