<div class="menu-overlay"></div>
<div class="menu-wrapper">
  <div class="cart">
    <div class="cart-item">
      <a routerLink="private/basket"><img src="../../../assets/img/icon/cart.png" alt=""> <span>{{ basketItems ? basketItems.length : 0 }}</span></a>
    </div>
  </div>
  <div class="logo">
    <a href="../../../index.html"><img src="../../../assets/img/logo.png" alt=""></a>
  </div>
  <div id="mobile-menu-wrap"></div>
  <div class="option">
  </div>
</div>

<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-top-inner">
            <div class="header-logo">
              <a href="../../../index.html"><img src="../../../assets/img/logo.png" alt=""></a>
            </div>
            <div class="header-top-right">
              <div class="header-top-right-cart">
                <a routerLink="private/basket"><img src="../../../assets/img/icon/cart.png" alt=""> <span>{{ basketItems ? basketItems.length : 0 }}</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="canvas-open"><i class="bi bi-layout-text-sidebar"></i></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="header-menu mobile-menu" *ngIf="!router.url.includes('private')">
          <ul>
            <li class="active" [className]="router.url.includes('home') ? 'active' : ''">
              <a routerLink="home">Home</a>
            </li>
            <li [className]="router.url.includes('about') ? 'active' : ''">
              <a routerLink="about-us">About</a>
            </li>
            <li [className]="router.url.includes('contact') ? 'active' : ''">
              <a routerLink="contact">Contact</a>
            </li>
            <li [className]="router.url.includes('login') ? 'active' : ''">
              <a routerLink="login">Mon compte</a>
            </li>
          </ul>
        </nav>
        <nav class="header-menu mobile-menu" *ngIf="router.url.includes('private')">
          <ul>
            <li [className]="router.url.includes('orders') ? 'active' : ''">
              <a [routerLink]="isAdministrator ? 'private/administration/orders' : 'private/orders'">Commandes</a>
            </li>
            <li [className]="router.url.includes('products') || router.url.includes('pastry') ? 'active' : ''" *ngIf="isAdministrator">
              <a routerLink="private/administration/products">Produits</a>
            </li>
            <li [className]="router.url.includes('coordinates') ? 'active' : ''" *ngIf="!isAdministrator">
              <a routerLink="private/coordinates">Mes coordonnées</a>
            </li>
            <li [className]="router.url.includes('password') ? 'active' : ''">
              <a routerLink="private/update/password">Modifier mot de passe</a>
            </li>
            <li>
              <a (click)="logout()">Déconnexion</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

