<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="breadcrumb-text">
          <h2>Nous rejoindre</h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="breadcrumb-links">
          <a routerLink="/home">Home</a>
          <span>Nous rejoindre</span>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="subscription">
  <div class="d-flex align-items-center h-100 ">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <form>
                <div class="row g-3">
                  <div class="col-md-6">
                    <div class="form-outline mb-1">
                      <input type="text" id="firstName" class="form-control form-control-lg" placeholder="Nom" />
                      <label class="form-label" for="firstName"></label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-outline mb-1">
                      <input type="text" id="lastName" class="form-control form-control-lg" placeholder="Prénom"/>
                      <label class="form-label" for="lastName"></label>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-outline mb-1">
                      <input type="email" id="email" class="form-control form-control-lg" placeholder="Email" />
                      <label class="form-label" for="email"></label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-outline mb-1">
                      <input type="password" id="password" class="form-control form-control-lg" placeholder="Mot de passe" />
                      <label class="form-label" for="password"></label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-outline mb-1">
                      <input type="password" id="confimPassword" class="form-control form-control-lg" placeholder="Confirmer le mot de passe" />
                      <label class="form-label" for="confimPassword"></label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-outline mb-1">
                      <input type="text" id="city" class="form-control form-control-lg" placeholder="Ville" />
                      <label class="form-label" for="city"></label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-outline mb-1">
                      <input type="text" id="zipCode" class="form-control form-control-lg" placeholder="Code Postal"/>
                      <label class="form-label" for="zipCode"></label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-outline mb-1">
                      <input type="text" id="street" class="form-control form-control-lg" placeholder="Adresse"/>
                      <label class="form-label" for="street"></label>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="primary-btn">S'inscrire</button>
                  </div>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
</section>
