<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer-widget">
          <h6>Heures d'ouverture</h6>
          <ul>
            <li>Lundi - Vendredi: 08:00 am – 08:30 pm</li>
            <li>Samedi: 10:00 am – 16:30 pm</li>
            <li>Dimanche: 10:00 am – 16:30 pm</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer-about">
          <div class="footer-logo">
            <a href="#"><img src="../../../assets/img/footer-logo.png" alt=""></a>
          </div>
          <div class="footer-social">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
