.login-form {
  margin: 0;
  background: #FEF6F7;
  padding-top: 90px;
  padding-bottom: 70px;
}

@media screen and (max-width: 500px) {
  .login-form {
    padding-left: 30px;
    padding-right: 30px;
  }
}
